body{
  font-family:"Courier New",Courier,monospace;
  background-color: rgb(58, 104, 86);
  padding: 100px;
  color: white;
}
h1{
  text-align: center;
  border-bottom: 1px solid white;
}
h2{
  text-align: center;
  text-transformation: uppercase;
  font-size:15px;
 }
    
