body{
  font-family:"Courier New",Courier,monospace;
  background-color: rgb(58, 104, 86);
  padding: 100px;
  color: white
}
h1{
  border-bottom: 1px solid white;
}
a{color: white;
  text-decoration: none;
h2{
  text-transformation: uppercase;
  font-size:15px;
 }
#location-header{
  border-top: 1px solid;
  margin-top: 40px;
  padding-top: 20px;
}
    
